{{ define "title" }}404 - Page Not Found{{ end }}

{{ define "main" }}
    <section class="hero" role="banner">
        <div class="hero__content">
            <header class="hero__profile">
                <div class="hero__intro">
                    <h1 class="hero__title">
                        <span class="hero__title-line">404</span>
                        <span class="hero__name">Page Not Found</span>
                    </h1>
                </div>
            </header>


        </div>
    </section>
{{ end }}