node_modules/
package-lock.json  
frontend/public/
frontend/resources/
frontend/.hugo_build.lock
.DS_Store
.vscode/
*.log
tmp/
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
LICENSE.txt
terraform-provider-aws_v6.3.0_x5
cloud-infra/
